div(class="section")
  div(class="label") Method
  div(class="value delete") delete
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/teachers/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Deletes the the teacher associated with the numeric ID provided in the route
div(class="section")
  div(class="label") Response
  div(class="value") Successfully deleted the teacher with ID: 1