div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/whyYoga
div(class="section")
  div(class="label") Description
  div(class="value") Returns a description of why people choose to practice yoga
div(class="section")
  div(class="label") Response
  div(class="value")