div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/yogaTeachers/{name}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the yoga teacher associated with that name.
div(class="section")
  div(class="label") Response
  div(class="value")