div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/practices
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the yoga practices people can choose
div(class="section")
  div(class="label") Response
  div(class="value")