div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/yogaTeachers
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the yoga teachers available to book.
div(class="section")
  div(class="label") Response
  div(class="value")